<div class="card movie-card">

  <!--Card image-->
  <div class="poster-view">
    <img src="{{ movie.poster_path }}" class="img-fluid movie-poster" alt="" *ngIf="movie.poster_path">
    <div class="text-center missing-image-container" *ngIf="!movie.poster_path">
      <i class="fa fa-film fa-5x"></i>
      <div class="missing-image-text">Image not available</div>
    </div>
    <div class="card-overlay ">
      <div class="movie-title">{{ movie.title }}</div>
      <div class="float-left">
        <i class="fa rating-star" *ngFor="let rating of ratings" [ngClass]="{'fa-star-half':rating === 'half',
                      'fa-star':rating === 'full'}"></i>
        <span class="rating-text movie-rating">{{ movie.vote_average }}/10</span>
      </div>
      <div class="float-right">
        <span class="rating-text">
          <i class="fa fa-calendar margin-right-5 thin-column-hidden" aria-hidden="true"></i>
          {{ movie.release_date | date: 'mediumDate' }}</span>
      </div>
    </div>
  </div>

  <!--Card content-->
  <div class="card-body">
    <!--Text-->
    <p class="card-text movie-description" title="{{movie.overview}}">
      <i class="fa fa-quote-left fa-2x fa-pull-left " aria-hidden="true" *ngIf="movie.overview_preview.length"></i>
      {{ movie.overview_preview }}</p>
    <button class="btn btn-primary recommend-button" (click)="toggleRecommendation()" [ngClass]="{'unrecommend-btn unrecommend':recommended,'recommend' : !recommended}">{{ recommended ? 'Unrecommend ' : 'Recommend' }}</button>
  </div>

</div>