<div class="content-main container">
    <header class="header">
    <h2>Movie Application</h2>
    
    <div class="row">
                    <div class="col-sm-12">
                        <!-- BEGIN MAIN NAVIGATION -->
                        <nav class="nav nav_primary clearfix">
                <ul id="topnav" class="sf-menu"> 
                    <li class="menu-item" routerLinkActive="current-menu-item">
                        <a routerLink="/dashboard">Dashboard</a>
                    </li>
                    <li class="menu-item" routerLinkActive="current-menu-item">
                            <a routerLink="/my-recommendations">Recommendations</a>
                    </li>
                </ul>
            </nav>
                        <!-- END MAIN NAVIGATION -->
                    </div>
                </div>
    </header>
    <router-outlet></router-outlet>
    </div>